.leftframe{
    display: flex;
    width: 36%;
    overflow: auto;
    flex-direction: column;
    position: relative;

    &__items{
        position: absolute;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 7rem;

    }
}