.leftframe{
    display: flex;
    width: 30%;
    overflow-y: scroll;
    flex-direction: column;
    position: fixed;
    height: 100vh!important;
    z-index: 1221;
    top: 11rem;
    background-color: #edeeee;

    &__items{
        position: absolute;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 7rem;

    }
}