.leftframeitem{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;

    &__tag{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        background-color: #edeeee;
        height: 2.5rem;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.322);
        & img{
            height: 55%;
            transform: rotate(90deg);
        }
    }

    &__headline{
        width: 100%;
        display: none;
        height: max-content;

        &__item{
            margin-left: 1rem;
            height: 2rem;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            border-radius: 6px;
        background-color: #edeeee;

        border: 1px solid rgba(0, 0, 0, 0.322);
        }
    }
}

.ad{
    background : radial-gradient(circle, rgba(238,129,249,1) 0%, rgba(120,16,130,1) 100%);
    color: white!important;
    & img{
        filter:invert(100%)!important;
    }
}