.secondheader{
    width: 100%;
    height: 4rem;
    background-color: white;
    padding: 0 7rem;
    border-bottom: 1px solid grey;
    position: fixed;
    z-index: 123131;
    top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    &__create{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 18rem;
    }

    &__search{
        width: 100%;
        height: 75%;
        & input{
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-color: #edeeee;
            border: none;
            padding-left: 1rem;
            outline: none;
        }
    }

    &__sort{
        display: flex;
        align-items: center;
        max-height: 4rem;
        justify-content: space-between;
        width: 58%;

        & img{
            width: 7%;
            height:10%;
        }
    }

    &__grid{
        display: flex;
        align-items: center;
        max-height: 4rem;
        position: relative;

      
        
    }

       
    }
